@media screen and (max-width: 1500px) {
  #about {
    justify-content: center;
  }
  .about-txt-container {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  #logo {
    height: 33rem;
  }
}
@media screen and (max-width: 1150px) {
  #mobile-nav {
    display: flex;
  }
  #desktop-nav {
    display: none;
  }
  .logo {
    padding: 0 2rem;
  }
  #home {
    justify-content: center;
    background-position: right 40vh;
  }
  .home-txt {
    margin-left: 0;
    text-align: center;
  }
  #logo {
    height: 30rem;
  }
  #kelas{
    padding-top: 8rem;
  }
  .kelas-card-container{
    gap: 4rem;
  }
  #testimoni{
    padding-top: 8rem;
  }
  .testimoni-card-container{
    gap: 4rem;
  }
  .testimoni-chat{
    justify-content: flex-start;
    row-gap: 2rem;
    padding-bottom: 5rem;
  }
  .about-txt-container{
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  #home {
    background-position: right 37vh;
  }
}

@media screen and (max-width: 768px) {
  .home-txt {
    margin-top: 30%;
  }
  .home-txt button {
    font-size: 23px;
  }
  .text {
    font-size: 18px;
  }
  .title {
    font-size: 60px;
  }
  .title2 {
    font-size: 45px;
  }
  #question {
    padding: 2rem 2rem;
  }
  #logo {
    height: 28rem;
  }
  #about {
    padding: 0 1.7rem;
  }
  .contact-title{
    font-size: 30px;
  }
  .contact-card{
    padding: 1rem 1rem;
  }
  .contact-text{
    margin-left: 0.4rem;
  }
  .contact-text .icon{
    height: 2rem;
  }
  .contact-text h2{
    font-size: 20px;
  }
}

@media screen and (max-width: 540px) {
  #home {
    background-position: right 60vh;
  }
}

@media screen and (max-width: 480px) {
  #homer{
    background-position: right 57vh;
  }
  .home-txt .text{
    padding: 0 0.4rem;
  }
  #testimoni{
    padding: 5rem 1rem;
  }
  .testimoni-card1{
   width: 18rem;
   height: 18rem; 
  }
  .testimoni-card2{
   width: 18rem;
   height: 18rem; 
  }
  .testimoni-card3{
   width: 18rem;
   height: 18rem; 
  }
  .chat1{
    height: 8rem;
  }
  .chat2{
    height: 11rem;
  }
  .contact-card{
    flex-direction: column;
  }
  .contact-line{
    width: 21rem;
    height: 3px;
  }
  .contact-title{
    width: fit-content;
  }
  #kelas{
    padding: 2rem 1rem;
  }
  #question{
    padding: 2rem 1rem;
  }
  #about{
    padding: 0 1rem;
  }
  #logo{
    height: 23rem;
  }
  .coach-card{
    width: 320px;
    height: 408px;
  }
}
