@media screen and (max-width: 1500px) {
  #about {
    justify-content: center;
  }
  .about-txt-container {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  #logo {
    height: 33rem;
  }
}
@media screen and (max-width: 1150px) {
  #mobile-nav {
    display: flex;
  }
  #desktop-nav {
    display: none;
  }
  .logo {
    padding: 0 2rem;
  }
  #home {
    justify-content: center;
    background-position: right 40vh;
  }
  .home-txt {
    margin-left: 0;
    text-align: center;
  }
  #logo {
    height: 30rem;
  }
  #kelas{
    padding-top: 8rem;
  }
  .kelas-card-container{
    gap: 4rem;
  }
  #testimoni{
    padding-top: 8rem;
  }
  .testimoni-card-container{
    gap: 4rem;
  }
  .testimoni-chat{
    justify-content: flex-start;
    row-gap: 2rem;
  }
  .about-txt-container{
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  #home {
    background-position: right 37vh;
  }
}

@media screen and (max-width: 810px) {
  #testimoni{
    padding:8rem 2rem 0;
  }
  #kelas{
    padding:8rem 2rem 0 ;
  }
}

@media screen and (max-width: 768px) {
  .home-txt {
    margin-top: 30%;
  }
  .home-txt button {
    font-size: 23px;
  }
  .text {
    font-size: 18px;
  }
  .title {
    font-size: 60px;
  }
  .title2 {
    font-size: 45px;
  }
  #question {
    padding: 2rem 2rem;
  }
  #logo {
    height: 28rem;
  }
  #about {
    padding: 0 1.7rem;
  }
  .contact-button{
    font-size: 25px;
  }
}
@media screen and (max-width:700px){
  .testimoni-card1{
    width: 32rem;
    height: 18rem; 
   }
   .testimoni-card2{
    width: 32rem;
    height: 18rem; 
   }
   .testimoni-card3{
    width: 32rem;
    height: 18rem; 
   }
   .testimoni-card4{
    width: 32rem;
    height: 18rem; 
   }
   .testimoni-card5{
    width: 32rem;
    height: 18rem; 
   }
   .testimoni-card6{
    width: 32rem;
    height: 18rem; 
   }
}
@media screen and (max-width: 600px) {
  .testimoni-card1{
    width: 28rem;
    height: 16rem; 
   }
   .testimoni-card2{
    width: 28rem;
    height: 16rem; 
   }
   .testimoni-card3{
    width: 28rem;
    height: 16rem; 
   }
   .testimoni-card4{
    width: 28rem;
    height: 16rem; 
   }
   .testimoni-card5{
    width: 28rem;
    height: 16rem; 
   }
   .testimoni-card6{
    width: 28rem;
    height: 16rem; 
   }
}
@media screen and (max-width: 540px) {
  #home {
    background-position: right 57vh;
  }
  .card-txt h2{
    font-size: 20px;
  }
  #testimoni{
    padding: 5rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  #home{
    padding-bottom: 5rem;
    height: fit-content;
    background-position: right 63vh;
  }
  .home-txt .text{
    padding: 0 0.4rem;
  }
  .testimoni-card1{
    width: 20rem;
    height: 11rem; 
   }
   .testimoni-card2{
    width: 20rem;
    height: 11rem; 
   }
   .testimoni-card3{
    width: 20rem;
    height: 11rem; 
   }
   .testimoni-card4{
    width: 20rem;
    height: 11rem; 
   }
   .testimoni-card5{
    width: 20rem;
    height: 11rem; 
   }
   .testimoni-card6{
    width: 20rem;
    height: 11rem; 
   }
  .chat1{
    height: 8rem;
  }
  .chat2{
    height: 14rem;
  }
  .chat3{
    height: 14rem;
  }
  .chat4{
    height: 18rem;
  }
  #kelas{
    padding: 2rem 1rem;
  }
  #question{
    padding: 2rem 1rem;
  }
  #about{
    padding: 0 1rem;
  }
  #logo{
    height: 23rem;
  }
  .coach-card{
    width: 320px;
    height: 408px;
  }
  .card-txt h2{
    font-size: 18px;
  }
  .contact-button{
    font-size: 20px;
    margin: 0 0.7rem;
  }
}

@media screen and  (max-width : 375px) {
  .testimoni-card1{
    width: 18rem;
    height: 10rem; 
   }
   .testimoni-card2{
    width: 18rem;
    height: 10rem; 
   }
   .testimoni-card3{
    width: 18rem;
    height: 10rem; 
   }
   .testimoni-card4{
    width: 18rem;
    height: 10rem; 
   }
   .testimoni-card5{
    width: 18rem;
    height: 10rem; 
   }
   .testimoni-card6{
    width: 18rem;
    height: 10rem; 
   }
  .contact-button{
    padding: 0.8rem 1rem;
    font-size: 15px;
    margin: 0 1rem;
  }
  .chat1{
    height: 4rem;
  }
  .chat2{
    height: 10rem;
  }
  .chat3{
    height: 10rem;
  }
  .chat4{
    height: 14rem;
  }
}